#outputsValueFixed tr td {
  height: 80px;
  vertical-align: middle;
}
h4 {
  height: 35px;
}

#selectionParamsFixed {
  margin: 22px 0 0 0!important;
}

#selectionParamsFixed div.shiny-input-container {
  height: 91px;
  border-top: 1px solid #f4f4f4;
  padding: 5px;
  margin:0 !important;
}

#selectionParamsProfile {
  margin: 22px 0 0 0!important;
}

#selectionParamsProfile div.shiny-input-container {
  height: 91px;
  border-top: 1px solid #f4f4f4;
  padding: 5px;
  margin:0 !important;
}

#outputsValueProfile tr td {
  height: 80px;
  vertical-align: middle;
}
h4 {
  height: 35px;
}

thead, th.sorting_disabled {
  visibility:hidden;
}